@font-face {
    font-family: tomo;
    src: url(/Fonts/Rhesmanisa.otf);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #379683;
    box-shadow: 0px 3px;

}

#nav_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;

}

#nav_links li {
    list-style: none;
    padding: 0px 20px;
    position: relative;

}

#nav_links li a {
    text-decoration: none;
    color: #000000;
}

#nav_links li a:hover,
#nav_links li a.active {
    transition: 0.3s ease;
    color: #ffffff;
    border-radius: 10px;
}

#nav_links li a.active::after,
#nav_links li a:hover::after {
    content: "";
    width: 33%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -4px;
    left: 23px;
}

body {
    margin: 0px;
}

.img {
    padding-top: 2px;
    width: 36%;
    height: auto;
}

.land1 {
   
    width: 100%;
     
    background-color: #a79e97;
    
}
.land0
{  
    font-family: tomo;
}

.cta {
    text-decoration: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    will-change: transform;
}

.cta:disabled {
    pointer-events: none;
}

.cta:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.cta:active {
    box-shadow: none;
    transform: translateY(0);
}